.svg {
    width: 100%;
    height: 100%;
    transition: all 0.4s;
    cursor: pointer;
}

.rect {
    width: 100px;
    height: 40px;
    fill: #d5d5d5;

}

.text {
    fill: #000;
}

.text-red {
    fill: #f00;
}